{% extends "./gestionBase.html" %} 
{% block new_title%} GESTION PERSONAL{%endblock%} 
{% block titulo_formulario %} CARGA DE PERSONAL {% endblock %} 

{% block formulario %} 
{% csrf_token %} {% load crispy_forms_tags %} 
{{personal_form|crispy}} 
{% endblock %} 

{% block titulo_informacion%} INFORMACION DE PERSONAL {%endblock%} 

{% block titulo_columnas %}
<th>Legajo</th>
<th>Apellido</th>
<th>Nombre</th>
<th>DNI</th>
{%endblock%} 

{% block contenido_tabla%} 
{% for perso in personal%}
<tr>
  <td>{{perso.legajo_p}}</td>
  <td>{{perso.apellido_p}}</td>
  <td>{{perso.nombre_p}}</td>
  <td>{{perso.dni_p}}</td>
  <td>
    <a
      href="{% url 'personal:ver_personal' perso.id_personal%}"
      class="btn btn-success"
      >Ver</a
    >
  </td>
  <td>
    <a
      href="{% url 'personal:editar_personal' perso.id_personal%}"
      class="btn btn-info"
      >Editar</a
    >
  </td>
  <td>
    <button
      type="button"
      class="btn btn-danger"
      data-toggle="modal"
      data-target="#exampleModal"
    >
      Eliminar
    </button>
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Confirmar Eliminación
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">¿Desea eliminar este alumno?</div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <a
              href="{% url 'personal:eliminar_personal' perso.id_personal%}"
              class="btn btn-danger"
              >Eliminar</a
            >
          </div>
        </div>
      </div>
    </div>
  </td>

</tr>
{% endfor %} {% endblock %}