{% extends "./base.html" %}
{% block title %}Lista de alumnos {%endblock%}
{% block body %}
{% if alumnos %}
<div class="col-sm-12 col-md-6 col-lg-8 col-xl-8" bg-color="#80000">
<h2>Lista de alumnos</h2>
    <form action="" method="POST">
    {% csrf_token %}
    <table class="table table-info">
        <thead>
            <th>Apellido y Nombre</th>
            <th>Cantidad de asistencias</th>
            <th>Cantidad de inasistencias</th>
            <th>Asistencia de hoy</th>
        </thead>
        {% for alumno in alumnos %}
        <tr>
            <td><a href="{% url 'asistencia:listaAsistencias' alumno.id_alumno%}">{{alumno.apellido_a}}, {{alumno.nombre_a}}</a></td>
            <td>{{alumno.cantidad_asistencias}}</td>
            <td>{{alumno.cantidad_inasistencias}}</td>
            <td><input type="checkbox" name="asistencia_{{alumno.id_alumno}}" style="width: 20px; height: 20px;"></td>
        </tr>
        {% endfor %}

    </table>
    <h4>Total de clases de este curso: {{curso.cantidad_clases}}</h4>
    <button type="submit" class="btn btn-success btn-block text-white">
        Guardar
    </button>
    <br>


</div>

{% else %}
<div class="bg-secondary mb-3 rounded shadow">
    <h1 class="mx-3">No existen alumnos para el curso seleccionado</h1>
    <div class="m-3">
        <a class="btn btn-info" onclick="goBack()">Volver atrás</a>
        <a class="btn btn-success" href="{% url 'alumnos:alumnos'%}">Agregar alumnos</a>
    </div>
</div>
{% endif %}

<script>
    function goBack() {
        window.history.back();
    }
</script>
{% endblock %}
