{% extends "./base.html" %}
{% block title %}Edicion Alumno {%endblock%}
{% block body %}

<div class="col-sm-12 col-md-6 col-lg-8 col-xl-8" bg-color="#80000">
  <h2>INFORMACION DE CURSO </h2>
  <table class="table table-info">
    <thead>
      <th>Tipo</th>
      <th>Dato</th>
    </thead>
    <tbody>
      <tr>
        <td>ID</td>
        <td>{{curso.id_curso}}</td>
      </tr>
      <tr>
        <td>AÑO</td>
        <td>{{curso.Annio}}</td>
      </tr>
      <tr>
        <td>Division</td>
        <td>{{curso.Division}}</td>
      </tr>
      <tr>
        <td>Cantidad de clases</td>
        <td>{{curso.cantidad_clases}}</td>
      </tr>
      <tr>
        <td>Materia asociada</td>
        <td>{{curso.id_materia}}</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}