{% extends "./gestionBase.html" %}

{% block new_title%} GESTION ALUMNOS {%endblock%}

{% block titulo_formulario %}
CARGA DE ALUMNOS
{% endblock %}

{% block formulario %}
{% load crispy_forms_tags %}
{{ alumnos_form|crispy}}
{% endblock %}

{% block titulo_informacion%} 
INFORMACION DE ALUMNOS
{%endblock%}

{% block titolo_tabla %} 
<th>Matricula</th>
<th>Apellido</th>
<th>Nombre</th>
<th>DNI</th>
{%endblock%}


{% block contenido_tabla%}
{% for alumno in alumnos%}
<tr>
  <td>{{alumno.matricula}}</td>
  <td>{{alumno.apellido_a}}</td>
  <td>{{alumno.nombre_a}}</td>
  <td>{{alumno.dni_a}}</td>
  <td>
    {% endfor %}

{% endblock %}
